.chat-main 
  .chat-header
    .left-header
      %h2.left-header__titles
        = @group.name
        %ul.left-header__members
          Member:
          - @group.users.each do |user|
            = user.name
    .right-header
      = link_to "Edit",edit_group_path(@group)
  .chat-body
    = render @messages

  .chat-foot
    = form_for [@group, @message] do |f|
      .from_message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'mybtn'